<!doctype html>
<!--

    video : EasierJSAngular-07.mov  (1:00)

-->
<html ng-app>
<head>
    <title>?????</title>
    <script type="text/javascript" src="js/lib/angular-1.2.26.js"></script>
    <!-- <script type="text/javascript" src="js/lib/angular&#45;resource&#45;1.2.26.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap&#45;theme.css" /> -->
</head>
<body>

    <div>
        <!--
            note that the following div is outside ng-controller='List', but it's scope is still
            available in ng-controller="List" because it is in the global scope.
            The global scope is also called the *root* scope
        -->
        <input type="search" ng-model="search_me">
    </div>

    <div ng-controller="List">
        <ul>
            <li ng-repeat="person in people | filter:search_me">{{person.name}}: {{person.age}}</li>
        </ul>
    </dir>

<script>
var List = function($scope){
    $scope.people = [
          {name: 'John'   , age: 20}
        , {name: 'Micheal', age: 30}
        , {name: 'Dan'    , age: 40}
        , {name: 'Merry'  , age: 50}
    ];
}
</script>
</body>
</html>

