<!doctype html>
<!--

    video : EasierJSAngular-07.mov  ()

-->
<html ng-app>
<head>
    <title>?????</title>
    <script type="text/javascript" src="js/lib/angular-1.2.26.js"></script>
    <!-- <script type="text/javascript" src="js/lib/angular&#45;resource&#45;1.2.26.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap&#45;theme.css" /> -->
    <style>
        .first-true {background-color: #afe;}
    </style>
</head>
<body>

    <div>
        <input type="search" ng-model="search_me">
    </div>

    <div ng-controller="List">
        <ul>
            <li ng-repeat="person in people | filter:search_me" class="first-{{$first}}">
                {{person.name}}: {{person.age}}
                <button ng-click="remove($index);">x</button>
                <span ng-show="$first">first {{$first}}</span>
                <span ng-show="$middle">middle {{$middle}}</span>
                <span ng-show="$last">last {{$last}}</span>
            </li>
        </ul>

        <div>
            <label>Name:</label><input ng-model="new_name">
            <br>
            <label>Age:</label><input ng-model="new_age">
            <br>
            <button ng-click="add(); new_name = 'hello'; console.log(new_name); ">Add</button>
            <!--
                in the above you see that you can actually set variable in ng-click's scope using
                javascript express. However, not all javascript express will be evaluated:
                you see in above the expression "console.log" has been ignored
            -->
        </div>
    </dir>

<script>
var List = function($scope){
    $scope.people = [
          {name: 'John'   , age: 20}
        , {name: 'Micheal', age: 30}
        , {name: 'Dan'    , age: 40}
        , {name: 'Merry'  , age: 50}
    ];

    $scope.add = function(){
        $scope.people.push({
            name: $scope.new_name
            , age: $scope.new_age
        });
        // $scope.new_name = "";  // <-- this is now move to dirctive in html
        $scope.new_age = "";
    };

    $scope.remove = function(index) {
        console.log(index);
        $scope.people.splice(index, 1);
    }

}
</script>
</body>
</html>

